.cfx_titan-post-meta-heading {
	position: relative;
}

.titan-toggle-ui {
	position: absolute;
	padding-top: 5px;
	top: 0px;
	left: -20px;
}

.cfx_titan-post-meta-heading.open .titan-toggle-ui {
	transform: rotateZ(180deg);
}

#calibrefx_inpost_layout_box .separator {
	height: 1px;
	width: 50%;
	background-color: #000;
	position: relative;
	top: -5px;
}